.clearfix,
body {
    overflow: hidden
}

.ri-grid ul,
ol,
ul {
    list-style: none
}

.cf:after,
.clear,
.clearfix,
.ri-grid ul:after {
    clear: both
}

.btn,
.logo .word {
    white-space: nowrap
}

.big-box h2,
.box,
.grid figure,
.nav-link {
    cursor: pointer
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

.important,
caption,
td,
th {
    font-weight: 400
}

html {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.underline {
    text-decoration: underline
}

.about-menu li a,
.about-menu li a:active,
.about-menu li a:hover,
.colour_link,
.faq li,
.link,
.logo a,
.nav-link,
.social-buttons a:hover,
a.button {
    text-decoration: none
}

body,
html,
main {
    height: 100%
}

body {
    overflow-x: hidden;
    background: #0d0d0d
}

main:after,
main:before {
    content: " ";
    display: table
}

.button:after,
.link:before {
    content: ""
}

.button:after,
.link,
a.button {
    display: inline-block
}

@media (min-width:0) and (max-width:480px) {
    html {
        font-size: 18px
    }
}

@media (min-width:481px) and (max-width:768px) {
    html {
        font-size: 18px
    }
}

@media (min-width:769px) and (max-width:1024px) {
    html {
        font-size: 16px
    }
}

@media (min-width:1024px) {
    html {
        font-size: 20px
    }
}

.link {
    color: #00d09d;
    position: relative
}

.link:before {
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 6px;
    background-color: #00d09d;
    transition: all .3s ease-in-out
}

.link:hover:before {
    width: 100%
}

@keyframes loader-animation {
    from {
        transform: translate(-60px, -50%)
    }
    to {
        transform: translate(-540px, -50%)
    }
}

.button {
    background: 0 0;
    color: #000;
    border: 1px solid #000;
    font-size: .6rem;
    text-transform: uppercase;
    padding: .45rem 1.3rem;
    position: relative;
    z-index: 0;
    bottom: 1px;
    letter-spacing: .05rem
}

.button,
.button:after {
    transition: all .3s
}

.button:after {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000
}

.button:hover {
    color: #fff
}

.button:hover:after {
    width: 100%
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}

@media (min-width:1024px) {
    .nav {
        transform: translateY(0)
    }
    .nav-toggle {
        display: none
    }
}

@media (min-width:0) and (max-width:1024px) {
    .nav {
        top: 0;
        right: 0
    }
    .nav-active .nav {
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .7)
    }
    .nav-toggle {
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;
        display: block;
        width: 32px;
        height: 24px;
        color: transparent
    }
    .nav-toggle span {
        top: 8px
    }
    .nav-toggle span,
    .nav-toggle span:after,
    .nav-toggle span:before {
        transition: all .4s;
        box-shadow: -1px 1px #00d09d;
        background-color: #fff;
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0
    }
    .nav-toggle span:after,
    .nav-toggle span:before {
        content: ""
    }
    .nav-toggle span:before {
        transform-origin: 33% 100%;
        top: -8px;
        z-index: 10
    }
    .nav-toggle span:after {
        transform-origin: 33% 0;
        top: 8px
    }
    .nav-active .nav-toggle span {
        background-color: transparent
    }
    .nav-active .nav-toggle span,
    .nav-active .nav-toggle span:after,
    .nav-active .nav-toggle span:before {
        box-shadow: none
    }
    .nav-active .nav-toggle span:before {
        transform: translateY(4px) translateX(1px) rotate(45deg)
    }
    .nav-active .nav-toggle span:after {
        transform: translateY(-4px) translateX(1px) rotate(-45deg)
    }
    .nav-list {
        position: absolute;
        display: none;
        width: 100%;
        text-align: center
    }
    .nav-active .nav-list {
        display: block
    }
}

.intro,
.nav-link {
    position: relative;
    color: #fff;
    text-transform: uppercase
}

.nav-link {
    display: block;
    font-size: .6rem
}

@media (min-width:0) and (max-width:1024px) {
    .nav-link {
        font-size: 1rem
    }
    .nav-link:before {
        display: none
    }
}

.intro {
    background-size: 100%;
    background-image: linear-gradient(to bottom, #1105e7, #00d09d, #00d09d);
    height: 100%;
    min-height: 800px;
    text-align: center;
    font-size: 3.2rem
}

.mobile .intro {
    min-height: 0
}

.intro .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

@media (min-width:0) and (max-width:480px) {
    .intro {
        font-size: 2rem
    }
    .intro .inner {
        top: 42%;
        width: auto
    }
}

.intro .subtitle {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 100%);
    font-size: 30%;
    top: -15%;
    letter-spacing: 3px;
    opacity: 0
}

.mobile .intro .subtitle {
    opacity: 1;
    letter-spacing: 1px
}

.intro .actions {
    margin-top: 15px;
    bottom: -7%
}

.intro .actions .button {
    border-color: #fff;
    padding: 1rem 2.5rem;
    font-size: .8rem;
    background-color: #fff;
    color: #00d09d;
    width: 8.5rem
}

@media (min-width:0) and (max-width:480px) {
    .intro .actions {
        margin-top: 0
    }
    .intro .actions .button {
        margin: 1% 0;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem
    }
}

.intro .actions .button:after {
    background-color: transparent
}

.intro .actions .button:hover {
    color: #fff
}

.intro .actions .button:hover:after {
    background-color: #00d09d
}

@media (min-width:481px) {
    .intro .actions .button:last-child {
        margin-left: 10px;
        padding: 1rem;
        width: 12.5rem
    }
}

.logo {
    border: 7px solid;
    line-height: 1.25;
    font-size: 100%;
    text-align: left;
    display: inline-block;
    padding: 3%;
    letter-spacing: 3px
}

@media (min-width:0) and (max-width:480px) {
    .logo {
        padding: 5%
    }
}

.logo a {
    display: block;
    color: inherit
}

.logo .word {
    display: block
}

.logo .letter {
    display: inline-block;
    opacity: 0;
    min-width: 1em;
    text-align: center;
    margin-left: -.3em
}

.grid figure img,
.icon-home a:hover img,
.ready .logo .letter {
    opacity: 1
}

.logo .hide-letter {
    color: transparent
}

.logo .will-be-censored:after {
    transition: color .1s
}

.logo .is-censored {
    position: relative
}

.logo .is-censored.last-of-censored:after {
    content: "_"
}

.logo .is-censored:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-63%) scaleX(.85);
    letter-spacing: normal;
    content: "___";
    color: #fff
}

.corner-ribbon:hover {
    opacity: 1;
    box-shadow: none;
    color: #fff!important;
    background: #00d09d
}

.corner-ribbon.top-left {
    top: 55px;
    left: -65px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.mobile .corner-ribbon {
    display: none
}

.section {
    height: 100vh;
    width: 93%;
    position: relative;
    background: #000;
    color: #fff;
    font-size: 1rem;
    left: 7%;
    z-index: 1
}

.about-icon,
.about-icon-active,
.about-icon:hover,
.buy-icon,
.buy-icon-active,
.buy-icon:hover,
.byo-icon,
.byo-icon-active,
.faq-icon,
.faq-icon-active,
.faq-icon:hover,
.home-icon,
.home-icon-active,
.home-icon:hover,
.jumper-icon,
.jumper-icon-active,
.jumper-icon:hover,
.login-icon,
.login-icon-active,
.login-icon:hover {
    width: 96px;
    height: 96px
}

.home-icon {
    background: url(../icons/home.jpg) no-repeat;
    display: block
}

.about-icon {
    background: url(../icons/about.jpg) no-repeat;
    display: block
}

.buy-icon {
    background: url(../icons/buy.jpg) no-repeat;
    display: block
}

.byo-icon {
    background: url(../icons/byo.jpg) no-repeat;
    display: block
}

.jumper-icon {
    background: url(../icons/j-has.jpg) no-repeat;
    display: block
}

.login-icon {
    background: url(../icons/login.jpg) no-repeat;
    display: block
}

.faq-icon {
    background: url(../icons/faq.jpg) no-repeat;
    display: block
}

.home-icon:hover {
    background: url(../icons/home-active.jpg) no-repeat;
    display: block
}

.about-icon:hover {
    background: url(../icons/about-active.jpg) no-repeat;
    display: block
}

.buy-icon:hover {
    background: url(../icons/buy-active.jpg) no-repeat;
    display: block
}

.byo-icon:hover {
    background: url(../icons/byo-active.jpg) no-repeat;
    width: 96px;
    height: 96px;
    display: block
}

.jumper-icon:hover {
    background: url(../icons/j-has-active.jpg) no-repeat;
    display: block
}

.login-icon:hover {
    background: url(../icons/login-active.jpg) no-repeat;
    display: block
}

.faq-icon:hover {
    background: url(../icons/faq-active.jpg) no-repeat;
    display: block
}

.home-icon-active {
    background: url(../icons/home-active.jpg) no-repeat;
    display: block
}

.about-icon-active {
    background: url(../icons/about-active.jpg) no-repeat;
    display: block
}

.buy-icon-active {
    background: url(../icons/buy-active.jpg) no-repeat;
    display: block
}

.byo-icon-active {
    background: url(../icons/byo-active.jpg) no-repeat;
    display: block
}

.jumper-icon-active {
    background: url(../icons/j-has-active.jpg) no-repeat;
    display: block
}

.login-icon-active {
    background: url(../icons/login-active.jpg) no-repeat;
    display: block
}

.faq-icon-active {
    background: url(../icons/faq-active.jpg) no-repeat;
    display: block
}

.check-out-icon,
.search-icon,
.sign-up-icon {
    width: 48px;
    height: 48px;
    display: block
}

.search-icon {
    background: url(../icons/search.jpg) no-repeat
}

.check-out-icon {
    background: url(../icons/checkout.jpg) no-repeat
}

.sign-up-icon {
    background: url(../icons/signup.jpg) no-repeat
}

.height100 {
    height: 100vh
}

.right-bottom-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100
}

.copyright {
    color: #fff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3)
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

body {
    line-height: 1;
    color: #000;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,
td,
th {
    text-align: left
}

img {
    border: none
}

:focus {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 100%
}

q:after,
q:before {
    content: ''
}

a:hover {
    text-decoration: none
}

.clearfix {
    content: ".";
    display: inline;
    height: 0;
    visibility: hidden
}

#home_wrapper,
.content-panel {
    height: 100%;
    min-width: 900px;
    width: 100%
}

.cf:after,
.cf:before {
    content: "";
    display: table
}

.inline-block {
    display: inline-block
}

.ie6 .inline-block,
.ie7 .inline-block {
    display: inline;
    zoom: 1
}

input[type=search] {
    -webkit-appearance: textfield
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
    display: block
}

.container {
    width: 100%;
    padding: 0
}

.content-panel {
    background: #000;
    overflow: hidden!important
}

.colours,
.grid figure,
.info-block ul,
.modal-content,
.ri-grid ul li,
html.ie7 .content-panel {
    overflow: hidden
}

.content-panel.default_colour {
    background: #007ba5
}

.icon-home a,
.social-buttons a.facebook,
.social-buttons a.google-plus,
.social-buttons a.linkedin,
.social-buttons a.pintrest,
.social-buttons a.rss,
.social-buttons a.twitter {
    background: #000
}

.content-box {
    color: #333;
    margin-left: 100px;
    padding: 0
}

.social-buttons a.facebook:before,
.social-buttons a.google-plus:before,
.social-buttons a.linkedin:before,
.social-buttons a.pintrest:before,
.social-buttons a.rss:before,
.social-buttons a.twitter:before {
    font-family: FontAwesome;
    font-size: 14px;
    color: #fff
}

.content-box p {
    text-shadow: 0 0 2px rgba(255, 255, 255, .2)
}

.content-box.moved {
    position: relative;
    z-index: 101
}

.content-box.moved-back {
    z-index: 1
}

#home_wrapper {
    min-height: 600px;
    position: absolute
}

#home_wrapper.moved {
    min-width: inherit
}

.social-buttons {
    float: left;
    height: 30px;
    margin: 40px 0 40px 30px;
    position: relative;
    z-index: 3
}

.icon-home,
html.ie7 .icon-home {
    position: absolute
}

.social-buttons a {
    display: inline-block;
    float: left;
    height: 30px;
    margin: 0 0 0 10px;
    width: 30px;
    line-height: 30px;
    border-radius: 50px;
    text-align: center
}

.social-buttons a.facebook:before {
    content: "\f09a"
}

.social-buttons a.linkedin:before {
    content: "\f0e1"
}

.social-buttons a.twitter:before {
    content: "\f099"
}

.social-buttons a.google-plus:before {
    content: "\f0d5"
}

.social-buttons a.rss:before {
    content: "\f09e"
}

.social-buttons a.pintrest:before {
    content: "\f167"
}

.colour span,
.home-block h1,
.icon-home a {
    font-family: Montserrat, sans-serif
}
.pruduct-features span{margin-right:20px;font-size:12px; font-weight: 500;line-height: 14px;}
.icon-home {
    display: none;
    z-index: 100;
    padding: 0;
    right: 0;
    top: 0;
    text-align: center
}

.icon-home a {
    padding: 10px 15px;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    position: fixed;
    right: 0
}

.icon-home img {
    border: 0;
    width: 78px
}

.icon-home .social-buttons {
    float: none!important;
    height: 30px;
    margin: 50px 0 40px!important;
    position: relative;
    z-index: 3
}

.colours,
.round {
    position: absolute
}

.icon-home .social-buttons a {
    float: none!important;
    margin-bottom: 15px!important;
    width: auto!important;
    border-radius: 1px!important;
    display: block!important;
    height: 50px!important;
    line-height: 50px!important
}

.icon-home:before {
    display: none
}

.round {
    background: url(../images/round.html) top left no-repeat;
    float: left;
    left: 40%;
    z-index: 3;
    height: 700px;
    width: 200px
}

.colour,
.colours a.who_we_are,
.content-panel.who_we_are {
    background-color: #000
}

.colour,
.colours.moved .colour_link span {
    height: 100px
}

.colours {
    left: 0;
    min-height: 500px;
    right: 0;
    width: 100px;
    z-index: 2;
    margin-top: -1px
}

.colours.moved,
.colours.moving {
    color: transparent;
    margin-left: 0;
    padding-right: 0;
    right: -250px;
    text-indent: -9999px
}

.colours.moving {
    width: 100%
}

.colour:hover,
.colours.moved .colour_link.hover span {
    color: #000
}

.colours.moved.stuck {
    bottom: 0;
    left: 0;
    position: fixed;
    right: inherit;
    width: 300px
}

.colour {
    display: block;
    position: relative;
    width: 100%
}

.colour_link {
    display: block
}

.colours.moved .colour_link {
    position: relative;
    right: 210px
}

.colour span,
.home-block h1,
.info-block,
.menu-img {
    position: absolute
}

.colour span {
    display: block;
    text-align: right;
    text-transform: uppercase;
    width: 100%
}

.colour span p {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: normal;
    color: rgba(255, 255, 255, .7)
}

.about-menu,
.box h5,
.faq,
.grid figure figcaption,
.text-small,
.uppercase {
    text-transform: uppercase
}

.colours.moved .colour span {
    padding-right: 100px;
    text-indent: -9999px;
    text-transform: uppercase
}

.colours.moved .hover .colour span {
    padding-right: 50px
}

.colour[data-name] span {
    padding-right: 60px
}

.colour[data-name=who_we_are] span {
    background-position: right top
}

.colour[data-name=products] span {
    background-position: right -255px
}

.colour[data-name=guestbook] span {
    background-position: right -340px
}

.colour[data-name=faqs] span {
    background-position: right -425px
}

.colour[data-name=contact_us] span {
    background-position: right -512px
}

.colour[data-name=blog] span {
    background-position: right -598px
}

.colours a.products,
.content-panel.products {
    background-color: #7c378a
}

.colours a.guestbook,
.content-panel.guestbook {
    background-color: #dc0030
}

.colours a.faqs,
.content-panel.faqs {
    background-color: #3465aa
}

.colours a.contact_us,
.content-panel.contact_us {
    background-color: #000
}

.colours a.blog,
.content-panel.blog {
    background-color: #7cb854
}

.content-panel.search {
    background-color: #007ba5
}

.menu-img {
    left: 0;
    font-size: 36px;
    margin-top: 0
}

.home-block {
    background: url(../images/home-bg.jpg) top left no-repeat #fff;
    color: #58585a;
    float: left;
    width: 100%;
    height: 100vh;
    background-size: cover
}

.about-menu,
.about-menu li a {
    background-color: #000!important
}

.home-block h1 {
    color: #000;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -1px;
    right: 5%;
    top: 40%
}

.box h5,
.btn,
.grid figure p,
.text-small {
    letter-spacing: 1px
}

.home-block .home-content {
    bottom: 0;
    position: absolute;
    margin-bottom: 40px;
    margin-left: 45px
}

.about-menu ul,
.faq ul {
    list-style-type: none;
    margin: 0;
    width: 100%
}

.home-block .home-content p {
    font-size: 14px;
    line-height: 21px;
    color: #f2f2f2;
    padding-right: 150px
}

.home-block .home-content img {
    height: auto;
    max-width: 170px
}

.about-menu ul {
    padding: 0
}

.about-menu li a {
    display: block;
    color: #fff;
    padding: 1.37% 3%;
    font-size: 60px;
    font-weight: 700
}

.about-menu li a:active,
.about-menu li a:hover {
    background-color: #2afd6e!important;
    color: #000!important
}

.faq {
    background-color: #000!important
}

.faq ul {
    padding: 0;
    background: #fff!important
}

.faq li {
    display: block;
    padding: 25px 50px;
    background: #fff;
    color: #000
}

.faq li:nth-child(even),
.info-block {
    background: #000;
    color: #fff
}

.faq li p {
    font-weight: 700
}

.custom-label,
.custom-textbox {
    font-size: 36px;
    font-weight: 600
}

.faq li a {
    text-align: center
}

.custom-textbox {
    border: none;
    border-bottom: 3px Solid #fff;
    color: #fff
}

.photo-img {
    margin-top: 0;
    line-height: 0
}

.photo-img img {
    width: 100%
}

.info-block {
    width: 260px;
    border-radiua: 3px;
    margin-left: 35px;
    margin-top: 80px
}

.info-block ul,
.info-block ul li {
    text-align: left;
    margin: 0!important
}

.info-block ul {
    padding: 0
}

.info-block ul li {
    display: block;
    padding: 20px 25px;
    border-bottom: 1px rgba(255, 255, 255, .4) solid
}

.info-block ul li:last-child {
    border-bottom: none
}

.info-block .social-buttons {
    float: none;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 3;
    overflow: hidden
}

.address:before,
.chat:before,
.email:before,
.name:before,
.phone:before {
    font-family: Simple-Line-Icons;
    margin-right: 15px
}

.info-block .social-buttons a {
    background: #fff!important
}

.info-block .social-buttons a:before {
    color: #000!important
}

.name:before {
    content: "\e005"
}

.phone:before {
    content: "\e048"
}

.email:before {
    content: "\e086"
}

.address:before {
    content: "\e096"
}

.chat:before {
    content: "\e04a"
}

.box h5,
.design-count {
    font-family: Montserrat, sans-serif
}

.box {
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-top: 30px;
    background: #f8f8f8
}

.box:hover,
.design-count {
    background: #dc0030
}

.box .icon {
    margin: 35px 0
}

.box p {
    margin: 20px 50px 30px!important;
    color: #999
}

.box h5 {
    font-weight: 700;
    margin-bottom: 5px
}

.box:hover h5 {
    color: #fff
}

.box:hover p {
    color: #fab6c5
}

.design-count {
    padding: 45px 0;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 30px;
    color: #fff;
    text-align: center
}

.counter-number {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px #fff dashed;
    line-height: 30px;
    padding-bottom: 20px;
    padding-top: 10px
}

.text-small {
    font-size: 11px;
    font-weight: 700;
    display: block;
    padding-top: 12px
}

.grid,
.paragraphs .container-fluid,
.portfolio {
    padding: 0
}

.filter {
    text-align: left;
    margin-bottom: 25px
}

.btn,
.byo-text-top,
.grid figure {
    text-align: center
}

.filter .btn {
    font-weight: 400;
    border-radius: 2px
}

.filter .btn-main {
    color: #7ac142;
    background-color: #000;
    border: none
}

.filter .btn-main:after,
.filter .btn-main:hover:after {
    content: '\f138';
    font-family: FontAwesome;
    font-size: 16px;
    color: #7ac142;
    margin-left: 20px
}

.filter input[type=radio] {
    display: none
}

.grid {
    width: 100%
}

.grid figure {
    position: relative;
    float: left;
    background: #2afd6e;
    box-sizing: border-box
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    -webkit-transition: opacity .3s, -webkit-transform .3s cubic-bezier(.645, .045, .355, 1);
    transition: opacity .3s, transform .3s cubic-bezier(.645, .045, .355, 1)
}

.grid figure figcaption>a,
.grid figure h2,
.grid figure h2::after,
.grid figure p {
    opacity: 0;
    position: absolute
}

.grid figure figcaption {
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.grid figure figcaption>a {
    z-index: 1000;
    right: 50%;
    bottom: 30px;
    margin-right: -105px;
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    -webkit-transition: -webkit-transform .35s, opacity .35s;
    transition: transform .35s, opacity .35s
}

.grid figure h2 {
    color: #000;
    font-weight: 600;
    right: 0;
    left: 0;
    top: 50%;
    bottom: 0;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .35s, opacity .35s;
    transition: transform .35s, opacity .35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0)
}

.grid figure h2::after {
    top: 100%;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    height: 1px;
    background: #a951bb;
    content: '';
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s
}

.form-signup input[type=password],
.form-signup input[type=text],
header {
    width: 100%
}

.grid figure h2 span {
    font-weight: 800
}

.grid figure p {
    font-size: 68.5%;
    margin: 0;
    right: 30px;
    left: 30px;
    padding: 10px 0;
    top: 100px;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s
}

.grid figure:hover h2,
.grid figure:hover h2::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.grid figure:hover img {
    opacity: .3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.grid figure:hover figcaption>a,
.grid figure:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.btn-main {
    color: #fff!important;
    background-color: none;
    border: 1px solid #fff
}

.btn {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    border-radius: 0;
    padding: 8px 30px;
    margin-bottom: 5px;
    -webkit-transition: color .3s, background-color .3s, border-color .3s;
    transition: color .3s, background-color .3s, border-color .3s;
    font-weight: 400;
    line-height: 1.42857143;
    vertical-align: middle;
    display: inline-block;
    left: 50%
}
.btn-green{    
    font-size: 14px;
   
    padding: 8px 10px;
    margin-bottom: 5px;
    -webkit-transition: color .3s, background-color .3s, border-color .3s;
    transition: color .3s, background-color .3s, border-color .3s;
    font-weight: 400;
    line-height: 1.42857143;
    vertical-align: middle;
    display: inline-block;
    background:#33ff66;color:#000;border:none;}
.bold {
    font-weight: 700!important
}

.form-login,
.form-signup {
    font-weight: 700;
    padding: 10px;
    margin: 10px 20%
}

.bg-white {
    background: #fff!important
}

.bg-black {
    background: #000!important
}

.bg-green {
    background: #3f6!important
}

.text-green {
    color: #3f6!important
}

.text-black {
    color: #000!important
}

.text-white {
    color: #fff!important
}

.form-login {
    background: #fff;
    color: #000!important
}

.form-signup {
    background: #000;
    color: #fff!important
}

.forgot {
    padding: 10px;
    margin: 10px 20%
}

.form-login input[type=password],
.form-login input[type=text] {
    border: none;
    padding: 4px 10px;
    color: #000;
    font-weight: 700;
    width: 100%;
    margin-top: 10px;
    background: 0 0
}

.form-signup input[type=password],
.form-signup input[type=submit],
.form-signup input[type=text] {
    border: none;
    padding: 4px 10px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    background: 0 0
}

header {
    background: #000;
    display: inline-flex
}

.cross-icon {
    padding: 0 25px
}

.title {
    font-weight: 800!important;
    color: #3f6;
    padding: 20px 40px;
    font-size: 45px;
    line-height: 45px
}

.bg-pettorn-image {
    background: url(../images/content-bg.jpg) left top no-repeat;
    background-size: cover;
    display: inline-block
}

.byo-text-top {
    font-size: 110px;
    line-height: 110px;
    color: #03ff6e;
    FONT-weight: 900
}

.j-has-text-top,
.login-text-top,
.signup-text-top {
    font-size: 60px;
    line-height: 60px;
    color: #000;
    FONT-weight: 900;
    text-align: center
}

.j-has-center {
    padding: 27.8% 25%
}

.j-center {
    padding: 27%
}

.login-center {
    margin: 27.8% 25% 10px
}

.signup-center {
    margin: 20.8% 25% 10px
}

.byo-text-bottom {
    font-size: 45px;
    line-height: 80px;
    text-align: center;
    color: #03ff6e;
    FONT-weight: 700
}

.verticaly-center {
    margin: 15% auto 10px
}

.contact-form {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px
}

.form-control {
    border-radius: 0;
    height: 35px;
    margin-bottom: 10px
}

.address {
    background: #f8f8f8;
    padding: 10px 30px
}

.PB5 {
    padding-bottom: 5%
}

.MT20 {
    margin-top: 20px
}
.MT10{margin-top: 10px}
.ML30{margin-left:30px;}
.modal-body p {
    font-size: 14px;
    padding: 2px 0
}

.MT30 {
    margin-top: 30px
}

.LH300 {
    padding: 40%
}

.font-60 {
    font-size: 60px;
    color: #000;
    font-weight: 900
}

.center {
    padding: 50% 0;
    text-align: center
}

.submit-btn,
.submit-btn:hover {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 3px 15px;
    border: 1px solid #333;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif
}

.or_text {
    left: -4%;
    position: absolute
}

.submit-btn {
    color: #333;
    background: #fff;
    font-weight: 700
}

.submit-btn:hover {
    color: #fff;
    background: #000
}

.content-box .page_name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1em;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px #000 solid;
    display: inline-block;
    margin-left: 30px;
    padding-top: 0
}

.content-box .entry-header {
    margin-bottom: 20px;
    margin-left: 30px
}

.content-box .entry-header h1 {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 0;
    text-transform: none;
    letter-spacing: normal
}

.content-box h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1em;
    margin: -20px 0 30px;
    max-width: 690px
}

.content-box h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px
}

.normal-text {
    margin-left: 30px;
    width: 85%
}

.padd-30 {
    padding-left: 20px;
    padding-right: 20px
}

.content-box h4,
.content-box[data-page=contact_us] label {
    color: rgba(255, 255, 255, .6);
    display: block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase
}

.content-box[data-page=contact_us] h4 {
    font-size: 13px
}

.content-box h4 {
    font-size: 16px;
    margin-top: 20px;
    text-shadow: none
}

.content-box h4:first-child {
    margin-top: 0
}

.content-box[data-page=contact_us] h4,
.content-box[data-page=contact_us] label {
    color: #2ce4ae
}

.content-box[data-page=contact_us] h4 {
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 5px;
    margin-top: 0
}

.content-box .entry-content,
.content-box .paragraphs {
    font-size: 14px;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif
}

.content-box[data-page=contact_us] label {
    letter-spacing: 1px
}

.content-box[data-page=products] h4 {
    color: #f779b7;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 40px
}

.content-box[data-page=guestbook] h4 {
    color: #c84ce1
}

.content-box .paragraphs {
    font-weight: 400;
    color: #777;
    letter-spacing: .5px
}

.wp-caption img {
    width: 100%
}

.content-box[data-page=contact_us] .paragraphs p {
    font-size: 13px;
    line-height: 1.4em
}

.content-box[data-page=contact_us] h2 {
    font-size: 64px;
    letter-spacing: -3px;
    line-height: 1.1em
}

.content-box .paragraphs.second-block {
    display: none
}

.content-box[data-page=contact_us] .paragraphs {
    -webkit-column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-count: 1;
    -moz-column-width: 100%;
    padding-right: 10px
}

.content-box[data-page=contact_us] .paragraphs.second-block {
    -webkit-column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-count: 1;
    -moz-column-width: 100%;
    display: block;
    margin-left: 20px
}

.entry-header span {
    display: inline-block;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 10px;
    background: #f8f8f8;
    padding: 5px 15px;
    position: relative
}

.entry-header span:after {
    content: '\f0d7';
    font-family: FontAwesome;
    color: #f8f8f8;
    bottom: -15px;
    position: absolute;
    font-size: 18px;
    left: 50%;
    margin-left: -5px
}

article {
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 30px;
    padding-bottom: 10px
}

.hidden {
    display: none
}

.modaltop20 {
    top: 15%;
    bottom: 15%
}

@media only screen and (min-width:320px) and (max-width:479px) {
    #home_wrapper {
        height: 100%;
        min-height: auto;
        min-width: 320px;
        position: absolute;
        width: 100%
    }
    .home {
        padding: 0
    }
    .home-block {
        height: 100%!important;
        position: relative!important;
        text-align: center;
        background-size: cover
    }
    .font-60 {
        font-size: 18px;
        color: #000;
        font-weight: 900
    }
    .social-buttons {
        float: none;
        height: auto;
        margin: 10px 0;
        position: relative;
        z-index: 3;
        display: inline-block
    }
    .subtitle {
        margin-left: 0;
        font-size: 40px;
        position: relative;
        top: auto;
        margin-top: 0;
        font-weight: 700;
        letter-spacing: 5px
    }
    .home-block h1 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 3px;
        right: 0;
        left: 0
    }
    .about-menu {
        margin-top: 10%
    }
    .about-menu li a {
        display: block;
        color: #fff;
        padding: 10px 3%;
        text-decoration: none;
        font-size: 24px;
        background-color: #000!important;
        top: 10%;
        font-weight: 700
    }
    .home-block .home-content {
        position: relative;
        margin-left: 0;
        margin-top: 15px
    }
    .home-block .home-content p {
        padding-right: 15px;
        padding-left: 15px
    }
    .home-block input[type=search] {
        width: 80%;
        border: none;
        font-size: 13px;
        height: 30px;
        display: inline-block
    }
    .icon-home,
    .wp-caption img {
        width: 100%
    }
    .btn-main,
    .colours.moved.stuck,
    .icon-home .social-buttons {
        display: none
    }
    .content-panel {
        min-width: auto
    }
    .content-box {
        color: #333;
        margin-left: 0;
        padding: 120px 20px 90px
    }
    .icon-home {
        height: 100px;
        padding: 15px 25px
    }
    .form-control {
        margin-bottom: 25px
    }
    .grid figure {
        width: 100%;
        margin-bottom: 20px
    }
    .contact-form {
        margin-bottom: 25px
    }
    .colour span {
        width: auto
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    #home_wrapper {
        height: 100%;
        min-height: auto;
        min-width: 320px;
        position: absolute;
        width: 100%
    }
    .home {
        padding: 0
    }
    .home-block {
        height: 100%!important;
        position: relative!important;
        text-align: center;
        background-size: cover
    }
    .font-60 {
        font-size: 24px;
        color: #000;
        font-weight: 900
    }
    .social-buttons {
        float: none;
        height: auto;
        margin: 10px 0;
        position: relative;
        z-index: 3;
        display: inline-block
    }
    .subtitle {
        margin-left: 0;
        font-size: 40px;
        position: relative;
        top: auto;
        margin-top: 20px;
        font-weight: 700;
        letter-spacing: 5px
    }
    .home-block h1 {
        font-size: 29px;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        float: right;
        text-align: center
    }
    .home-block .home-content {
        position: relative;
        margin-left: 0;
        margin-top: 15px
    }
    .home-block .home-content p {
        padding-right: 15px;
        padding-left: 15px
    }
    .home-block input[type=search] {
        width: 80%;
        border: none;
        font-size: 13px;
        height: 30px;
        display: inline-block
    }
    .icon-home,
    .wp-caption img {
        width: 100%
    }
    .btn-main,
    .colours.moved.stuck,
    .icon-home .social-buttons {
        display: none
    }
    .content-panel {
        min-width: auto
    }
    .content-box {
        color: #333;
        margin-left: 0;
        padding: 120px 20px 90px
    }
    .icon-home {
        height: 100px;
        padding: 15px 25px
    }
    .form-control {
        margin-bottom: 25px
    }
    .grid figure {
        width: 100%;
        margin-bottom: 20px
    }
    .contact-form {
        margin-bottom: 25px
    }
    .colour span {
        width: auto
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    #home_wrapper {
        height: 100%;
        min-height: auto;
        min-width: 320px;
        position: absolute;
        width: 100%
    }
    .font-60 {
        font-size: 42px;
        color: #000;
        font-weight: 900
    }
    .home {
        padding: 0
    }
    .home-block {
        height: 100%!important;
        position: relative!important;
        text-align: center;
        background-size: cover
    }
    .social-buttons {
        float: none;
        height: auto;
        margin: 10px 0;
        position: relative;
        z-index: 3;
        display: inline-block
    }
    .home-block .home-content,
    .home-block h1,
    .subtitle {
        position: relative;
        margin-left: 0
    }
    .subtitle {
        font-size: 40px;
        top: auto;
        margin-top: 20px;
        font-weight: 700;
        letter-spacing: 5px
    }
    .home-block h1 {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 0;
        float: right
    }
    .home-block .home-content {
        margin-top: 15px
    }
    .home-block .home-content p {
        padding-right: 15px;
        padding-left: 15px
    }
    .home-block input[type=search] {
        width: 80%;
        border: none;
        font-size: 13px;
        height: 30px;
        display: inline-block
    }
    .content-panel {
        min-width: auto
    }
    .icon-home .social-buttons {
        display: block
    }
    .form-control {
        margin-bottom: 25px
    }
    .grid figure {
        width: 100%;
        margin-bottom: 20px
    }
    .btn-main {
        display: none
    }
    .contact-form {
        margin-bottom: 25px
    }
    .wp-caption img {
        width: 100%
    }
    .colour span {
        width: auto
    }
}

@media only screen and (min-width:992px) and (max-width:1170px) {
    .colour span {
        width: 350px
    }
    .home-block h1 {
        font-size: 60px
    }
}

@media only screen and (min-width:1171px) and (max-width:1350px) {
    .home-block h1 {
        font-size: 80px
    }
}

#first-child {
    top: 0;
    left: 0;
    background-color: #9acd32
}

#second-child {
    top: 0;
    left: 50%;
    background-color: #E6537D;
    color: #000
}

#third-child {
    top: 50%;
    left: 0;
    background-color: #dc143c
}

#fourth-child {
    top: 50%;
    left: 50%;
    background-color: #000;
    color: #000
}

.big-box {
    position: absolute;
    width: 50%;
    height: 50%;
    color: #fff
}

.big-box h2 {
    text-align: center;
    margin-top: 20%;
    padding: 20px;
    width: 100%;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase
}

@media screen and (max-width:46.5em) {
    .big-box h2 {
        font-size: 16px;
        padding-left: 0
    }
}

@media screen and (max-width:20.5em) {
    .big-box h2 {
        font-size: 12px;
        padding-left: 0;
        margin-top: 30%
    }
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

.modal-content {
    height: 100%;
    border-radius: 0;
    color: #fff
}

.modal-title {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    color: #000;
    background: #3f6
}

.modal-content-one {
    background-color: #9acd32
}

.modal-content-two {
    background-color: #E6537D
}

.modal-content-three {
    background-color: #dc143c
}

.modal-content-four {
    background-color: #000
}

.close {
    color: #fff!important;
    opacity: 1
}

.PD20 {
    padding: 20px
}
.PD0{padding: 0px}
.PD15 {
    padding: 15px!important
}

.MT25 {
    margin-top: 25px
}

.font30 {
    font-size: 30px!important;
    line-height: 30px
}

.call {
    padding: 10px 40px
}

.hover {
    background: #fff
}

.hover:hover {
    background: #3f6!important;
    display: block
}

.top-50 {
    top: 50%;
    margin: auto;
    display: table
}

.ri-grid {
    margin: 30px auto;
    position: relative;
    height: auto
}

.ri-grid ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    zoom: 1
}

.ri-grid ul:after,
.ri-grid ul:before {
    content: '';
    display: table
}

.ri-grid ul li {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block
}

.ri-grid ul li a {
    display: block;
    outline: 0;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.ri-grid-size-1 {
    width: 55%
}

.ri-grid-size-2 {
    width: 100%
}

.ri-grid-size-3 {
    width: 100%;
    margin-top: 0
}

.ri-shadow:after,
.ri-shadow:before {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg)
}

.ri-shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg)
}

.ri-grid-loading:after,
.ri-grid-loading:before,
.ri-loading-image {
    display: none
}

.ri-grid-loading .ri-loading-image {
    position: relative;
    width: 30px;
    height: 30px;
    left: 50%;
    margin: 100px 0 0 -15px;
    display: block
}

.ri-grid {
    width: 100%
}

.ri-grid ul li,
.ri-grid ul li a {
    width: 110px;
    height: 110px
}

.ri-grid ul li a img {
    width: 100%;
    border: 3px Solid
}

.font-40 {
    font-size: 40px;
    font-weight: 600
}
.font20{font-size:20px !important}

.gap50 {
    margin: 25% 50px 5%
}

.textbox-newslatter {
    background: #fff;
    border: none;
    font-size: 40px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #000;
    margin: 8%;
    width: 84%
}

/**size**/
.size-box li {
  display: inline;
  margin-left: 0;
  }
.size-box li a span {
border: 1px solid #e2e2e2;
display: inline-block;
padding: 5px 9px;
font-size: 12px;
text-align: center;
text-transform: uppercase;
}
.size-box li a span:hover {
  background-color: #33ff66;
  color: #000;
}
.catalog-title {font-weight: bold;margin: 20px 0;text-transform: capitalize;}
.color-box ul li a span {
    display: block;
    height: 20px;
    width: 20px;
}
.color-box li {
    float: left;
}
.catalog-area .catalog-box {
  padding: 0 11px;
}
.form{background: #fff;
    color: #000;
    padding: 20px;}
    